@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    --border-radius: 5px;
    --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-1: 0deg 0% 10%;
        --primary-2: 0deg 0% 15%;
        --primary-3: 0deg 0% 20%;

        --secondary-1: 0deg 0% 100%;
        --secondary-2: 0deg 0% 96%;
        --secondary-3: 0deg 0% 90%;
        --secondary-4: 0deg 0% 85%;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --primary-1: 0deg 0% 100%;
        --primary-2: 0deg 0% 96%;
        --primary-3: 0deg 0% 90%;

        --secondary-1: 0deg 0% 0%;
        --secondary-2: 0deg 0% 25%;
        --secondary-3: 0deg 0% 35%;
        --secondary-4: 0deg 0% 50%;
    }
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    background-color: var(--primary-1);
    min-height: 100vh;
    max-width: 100vw;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}